{
  "extends": ["standard"],
  "rules": {
    "no-unused-vars": [
      "off",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],
    "no-return-assign": "off",
    "no-new": "off"
  }
}