//Fonts 
$f_primary: 'Nunito', sans-serif;
$f_secondary: 'Muli', sans-serif;
$f_copy: sans-serif;

// Media Querys
$xxs: 414px;
$xs: 576px;
$sm: 768px;
$md: 840px;
$lg: 992px;
$xl: 1024px;
$xxl: 1200px;

// settings
$wrap: 1300px;