.l {
  &-grid,
  &-grid-2,
  &-grid-3,
  &-grid-4,
  &-grid-5,
  &-grid-6 {
    display: grid;
    grid-auto-rows: min-content;
  }

  &-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
    
  &-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
    
  &-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
    
  &-grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
    
  &-grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &-grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: minmax(250px, 1fr) 2fr;
    }

    &--300 {
      grid-template-columns: minmax(300px, 1fr) 2fr;
    }

    &--350 {
      grid-template-columns: minmax(350px, 1fr) 2fr;
    }
    
    &--400 {
      grid-template-columns: minmax(400px, 1fr) 2fr;
    }
  }
  
  &-grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: minmax(250px, 1fr) 3fr;
    }

    &--300 {
      grid-template-columns: minmax(300px, 1fr) 3fr;
    }

    &--350 {
      grid-template-columns: minmax(350px, 1fr) 3fr;
    }
    
    &--400 {
      grid-template-columns: minmax(400px, 1fr) 3fr;
    }
  }
  
  &-grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: 2fr minmax(250px, 1fr);
    }

    &--300 {
      grid-template-columns: 2fr minmax(300px, 1fr);
    }

    &--350 {
      grid-template-columns: 2fr minmax(350px, 1fr);
    }
    
    &--400 {
      grid-template-columns: 2fr minmax(400px, 1fr);
    }
  }

  &-grid-3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: 3fr minmax(250px, 2fr);
    }

    &--300 {
      grid-template-columns: 3fr minmax(300px, 2fr);
    }

    &--350 {
      grid-template-columns: 3fr minmax(350px, 2fr);
    }
    
    &--400 {
      grid-template-columns: 3fr minmax(400px, 2fr);
    }
  }

  &-grid-3-1 {
    display: grid;
    grid-template-columns:3fr 1fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: 3fr minmax(250px, 1fr);
    }

    &--300 {
      grid-template-columns: 3fr minmax(300px, 1fr);
    }

    &--350 {
      grid-template-columns: 3fr minmax(350px, 1fr);
    }
    
    &--400 {
      grid-template-columns: 3fr minmax(400px, 1fr);
    }
  }
 
  &-grid-1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    &--250,
    &--300,
    &--350,
    &--400 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--250 {
      grid-template-columns: minmax(250px, 1fr) 2fr minmax(250px, 1fr);
    }

    &--300 {
      grid-template-columns: minmax(300px, 1fr) 2fr minmax(300px, 1fr);
    }

    &--350 {
      grid-template-columns: minmax(350px, 1fr) 2fr minmax(350px, 1fr);
    }
    
    &--400 {
      grid-template-columns: minmax(400px, 1fr) 2fr minmax(400px, 1fr);
    }
  }

  &-grid-min {
    &--200,
    &--250,
    &--300,
    &--350,
    &--450 {
      display: grid;
      grid-auto-rows: min-content;
    }

    &--200 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &--250 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    &--300 {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &--350 {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
    &--450 {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
  }

  &-grid-full {
    grid-column: 1 / -1;
  }
  
  &-grid-row-auto {
    grid-auto-rows: auto;
  }

  
  &-gap {
    grid-gap: 1rem;
    
    &--row {
      grid-row-gap: 1rem;
    }
    
    &--col {
      grid-column-gap: 1rem;
    }
    
    &-2 {
      grid-gap: 2rem;
      
      &--row {
        grid-row-gap: 2rem;
      }
      
      &--col {
        grid-column-gap: 2rem;
      }
    }
    
    &-3 {
      grid-gap: 3rem;
      
      &--row {
        grid-row-gap: 3rem;
      }
      
      &--col {
        grid-column-gap: 3rem;
      }
    }
  }
}

// 1200px
@media (max-width: $xxl) {
  .l {
    &-grid,
    &-grid-2--xxl,
    &-grid-3--xxl,
    &-grid-4--xxl,
    &-grid-5--xxl,
    &-grid-6--xxl {
      display: grid;
    }

    &-grid {
      &--xxl {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--xxl {
        grid-template-columns: repeat(2, 1fr); 
      }
    }

    &-grid-3 {
      &--xxl {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--xxl {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--xxl {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--xxl {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 1024px
@media (max-width: $xl) {
  .l {
    &-grid,
    &-grid-2--xl, 
    &-grid-3--xl, 
    &-grid-4--xl, 
    &-grid-5--xl, 
    &-grid-6--xl {
      display: grid;
    }

    &-grid {
      &--xl {
        grid-template-columns: 1fr;
      }
    }
    
    &-grid-2 {
      &--xl {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--xl {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--xl {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--xl {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--xl {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 992px
@media (max-width: $lg) {
  .l {
    &-grid,
    &-grid-2--lg, 
    &-grid-3--lg, 
    &-grid-4--lg, 
    &-grid-5--lg, 
    &-grid-6--lg {
      display: grid;
    }

    &-grid {
      &--lg {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--lg {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--lg {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--lg {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--lg {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--lg {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 840px
@media (max-width: $md) {
  .l {
    &-grid,
    &-grid-2--md, 
    &-grid-3--md, 
    &-grid-4--md, 
    &-grid-5--md, 
    &-grid-6--md {
      display: grid;
    }

    &-grid {
      &--md {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--md {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--md {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--md {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--md {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--md {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 768px
@media (max-width: $sm) {
  .l {
    &-grid,
    &-grid-2--sm, 
    &-grid-3--sm, 
    &-grid-4--sm, 
    &-grid-5--sm, 
    &-grid-6--sm {
      display: grid;
    }

    &-grid {
      &--sm {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--sm {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--sm {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--sm {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--sm {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--sm {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 576px
@media (max-width: $xs) {
  .l {
    &-grid,
    &-grid-2--xs, 
    &-grid-3--xs, 
    &-grid-4--xs, 
    &-grid-5--xs, 
    &-grid-6--xs {
      display: grid;
    }

    &-grid {
      &--xs {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--xs {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--xs {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--xs {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--xs {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--xs {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// 414px
@media (max-width: $xxs) {
  .l {
    &-grid,
    &-grid-2--xxs, 
    &-grid-3--xxs, 
    &-grid-4--xxs, 
    &-grid-5--xxs, 
    &-grid-6--xxs {
      display: grid;
    }

    &-grid {
      &--xxs {
        grid-template-columns: 1fr;
      }
    }

    &-grid-2 {
      &--xxs {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid-3 {
      &--xxs {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-grid-4 {
      &--xxs {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-grid-5 {
      &--xxs {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
    &-grid-6 {
      &--xxs {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}