.bg {
  &--primary { background-color: $bg_primary; }
  &--secondary { background-color: $bg_secondary; }
  &--white { background-color: $white; }
  &--black { background-color: $black; }
  &--gray { background-color: $gray_300; }
  &--body { background-color: $bg_body; }
  &--menu { background-color: $bg_menu; }
}